*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/iranyekanwebmedium.eot');
    src: url('../fonts/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebmedium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanwebmedium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
    font-family: iranyekanbold;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/eot/iranyekanwebextrabold.eot');
    src: url('../fonts/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebextrabold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanwebextrabold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
    font-family: iranyekanb;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/iranyekanwebextrablack.eot');
    src: url('../fonts/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff/iranyekanwebextrablack.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/woff2/iranyekanwebextrablack.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/ttf/iranyekanwebextrablack.ttf') format('truetype');
}
:root {
    --color-primary: #F9CA24;
    --color-white: #fff;
    --hue: 160deg;
}

html {
    font-size: 62.5%;
}

body{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 9.26%, rgba(57, 52, 52, 0.4) 51.6%, rgba(1, 1, 1, 0.4) 100%), #333F48;
    background-repeat: repeat;
    background-size: cover;
}
#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    direction: rtl;

}

.header {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: iranyekanb;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.4);
    padding: 1.5rem 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.logo {
    width: 5.5vw;
}

.consoleList {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}

.console {
    width: 50%;
    height: 50%;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
    position: relative;
}

.chead {
    width: 100%;
    font-family: iranyekanbold;
    display: flex;
    font-size: 2.5rem;
    justify-content: space-between;
}

.cname {
    color: #F9CA24;
}

.ccount {
    color: rgba(0, 0, 0, 0.5);
}

.time {
    font-size: 7rem;
    font-family: iranyekanbold;
    color: red;
    background: linear-gradient(180deg, #F9CA24 0%, #FF7A00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.timer {
    line-height: 7rem;
}

.cfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cprice {
    font-family: iranyekanbold;
    color: #21E786;
    font-size: 2rem;
}
select{
    max-width:5rem;
}

.btns {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}
.modal .head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    height: 5rem;
    font-family: 'iranyekanbold';
    color: var(--color-white);
    font-size: 12px;
    z-index: 111111111;
    padding: 0 0.5rem;
}

.btn {
    background-color: transparent;
    font-family: iranyekan;
    padding: 1rem 3rem;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.btn--primary {
    background-color: #6082B6;
}
.btn--success {
    background-color: #4BB543;
}

.btn--secondary {
    background-color: #4169E1;
}

.btn--mini {
    padding: 0rem 1.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ef246e;
}

.btn--timer {
    background-color: var(--color-primary);
    color: #000;
}

@media only screen and (max-width: 768px) {
    .consoleList {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
    }
    .console {
        width: 100%;
        height: 20rem;
        border-left: 0;
        padding:0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    .logo {
        width: 80px;
        height: auto;
    }
    .header {
        font-size: 1.4rem;
    }
    .btn {
        padding: 0.5rem;
    }
    .btns {
        gap: 0.5rem;
    }
    .cfooter {
        flex-direction: column;
        gap: 1rem;
    }
}

.logslist{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;z-index: 1111;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 5px;
    padding-top: 50px;
    gap: 10px;
    height: 100%;
    overflow-y: scroll;
}
.closeicon{
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 11111111;
    cursor: pointer;
}
.log{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: iranyekanbold;
    border-radius: 7px;
    font-size: 14px;
    flex-shrink: 0;
    padding: 5px;
    color: var(--color-white);
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter:blur(10px);
    width: 100%;
    height: 100%;
    z-index: 11111;
}
.form-control{
    background-color: rgba(0, 0, 0, 0.2);
    outline: 0;
    border: 0;
    width: 30%;
    height: 30px;
    font-family: iranyekanbold;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
}
.additem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    z-index: 111111111111111;
}
.form-control::placeholder{
    color: rgba(255, 255, 255, 0.Ûµ);
}

.basketItem{
    position: absolute;
    bottom: 100px;
    font-size: 25px;
    color: red;
}

.item__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    gap: 1rem;
    color: var(--color-white);
}
.mini-btn {
    width: 2rem;
    height: auto;
    cursor: pointer;
}

.form-control {
    color: var(--color-white);
    font-size: 15px;
    border: 0;
    outline: 0;
    border-bottom: 0.0521vw solid #F9CA24;
    padding: 0.3rem 1rem;
    caret-color: var(--color-white);
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.form-control::selection {
    background-color: transparent;
    color: var(--color-primary);
}


.btn--success::before {
    background: #457c37;
}

.btn--success::after {
    background: linear-gradient(270deg, #24f952 0%, rgb(19 255 4 / 25%) 36%);
}

.drop-down {
    background: rgba(0, 0, 0, 0.15);
    border: 0.1vw solid #292D32;
    font-size: 12px;
    border-radius: 6px;
    color: var(--color-primary);
}

.drop-down:focus {
    outline: 0;
}

.drop-down * {
    background: var(--color-primary);
    color: var(--color-white);
}
.allprice{
    font-family: 'iranyekanbold';
    color: rgb(15, 180, 37);
    position: absolute;
    bottom: 64px;
    font-size: 17px;
}

